.valid
{
    color: green;
}
.invalid
{
    color: red;;
}
.strength-bar
{
    height: 8px;
    background: #eee;
    border-radius: 4px;
    margin-top: 5px;
    overflow: hidden;
}
.bar
{
    height: 100%;
    transition: width 0.3s ease;
}
.strengthText
{
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}